body {
    background-color: #FFA500;
    color: white;
    font-family: 'GalanoGrotesque-Light', sans-serif;
    line-height: 25px;
    letter-spacing: 3px;
}

h1 {
    color: #FF00FF;
    font-family: 'Antonio', sans-serif;
    font-size: 7vw;
    margin-top: 5%;
    text-align: center;
}

hr {
    width: 60%;
    border-top: 2px solid #ff5395;
}

.container {
    margin-top: 50px;
}

.form-group {
    margin-top: 15px;
}

.card {
    background-color: #8A9EFF;
    color: white;
    margin-top: 30px;
}

.label {
    color: white;
    font-family: 'Roboto', sans-serif;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #8A9EFF inset !important;
    -webkit-text-fill-color: #192874 !important;
}

.form-control::placeholder {
    color: #c5cefc;
}

.form-control {
    background-color: #8A9EFF;
    border: none;
    color: #192874;
}

#pickQuiz {
    color: #c5cefc;
}

.form-control:focus {
    background-color: #8A9EFF;
    border: none;
}

.btn {
    margin-top: 20px;
    padding: 6px 30px;
}

.btn:hover {
    background-color: rgb(47, 0, 255);
    border: 3px solid #59ff53;
}

.btn-primary {
    background-color: transparent;
    border: 3px solid rgb(47, 0, 255);
    border-radius: 25px;
    font-size: 25px;
    color: #59ff53;
}

.question-number {
    color: #8A9EFF;
    font-family: 'Vesper Libre', serif;
}

#feedback {
    color: #ff5395;
    margin-top: 20px;
}

#message {
    color: #ff5395;
    font-family: 'Vesper Libre', serif;
    font-weight: bold;
    font-size: 50px;
}

@media(max-width:768px) {
    h1 {
        font-size: 50px;
    }
}